{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Toro Django Office | {% block title %}{%endblock%}</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Toro Django Office"/>

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>
    
    {% block content %}{% endblock content %}

    <script src="{% static 'js/vendor-all.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pcoded.min.js' %}"></script>

</body>
</html>

