select
{
    position: relative;
    height: 35px;
    padding: 6px 7px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
    margin-bottom: 10px;
}
option
{
    color: #2d3667;
    font-size: 16px;
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}
canvas{
    max-height: 100%;
    height:auto;
    width:auto;
    max-width: 100%;

}
.card .card-block{
    padding: 20px 15px;
}