{% extends "layouts/general_layout.html" %}
{% load crispy_forms_filters %}
{% load custom_fields %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                {% include "layouts/top_content.html" with segment=segment%}
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="detail-form-header">
                                    <h1>{{ form_title }}</h1>
                                </div>
                                <div class="card-block">
                                    {{ form.media }}
                                    <form method="post" novalidate="">
                                        {% csrf_token %}
                                        <div class="d-flex flex-column">
                                            {{ form.name | hidden_label_field }}
                                            {{ form.permissions | as_crispy_field }}
                                            <div class="btn-holder mt-3 centered">
                                                <a href="{% url 'view-role' %}">
                                                    <button class="btn btn-primary btn-orange" type="button">
                                                        Cancel
                                                    </button>
                                                </a>
                                                <button id="submit-btn" class="btn btn-primary disabled" type="button" value="save">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script>
        window.addEventListener('load', function(e) {
            document.querySelector('#id-name').onfocusout = function() {
                this.value = this.value.toLowerCase();
            }
        })
    </script>
{% endblock javascripts %}
